@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #9400D3;
  --primary-hover: #7a00b0;
  --primary-light: #D3D3FF;
  --primary-muted: #D8BFD8;
  --primary-accent: #ED80E9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
  --color-primary-muted: var(--primary-muted);
  --color-primary-accent: var(--primary-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}